<p id="notice"><%= notice %></p>

<h1 class="d-flex justify-content-center">Posts</h1>

<% @posts.each do |post| %>
<div class="card">
  <div class="card-header">
    <h4 class=" font-weight-bold"><%= post.title %></h4>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= post.body %></p>
      <footer class="blockquote-footer"><%= post.created_at %></footer>
    </blockquote>
  </div>
    <div class="card-header">
      <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= link_to 'Show', post %></li>
      <li class="list-group-item"><%= link_to 'Edit', edit_post_path(post) %></li>
      <li class="list-group-item"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
</div>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>
